body{
    background-color: black;
};
header{
    background-color: red;
}
footer{
    background-color: red;
    color: white;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(164, 249, 255);
}
h1{
    font-family: Segoe UI;
    text-shadow: 0 0 3px red, 2px 2px 8px red, 0 0 3px red, 2px 2px 8px red;
    color: rgb(255, 196, 0);
    
}

h2{
    font-family: Segoe UI;
    text-shadow: 0 0 3px red, 2px 2px 8px red, 0 0 3px red, 2px 2px 8px red;
    color: rgb(255, 196, 0);
}
h3{
    font-family: Segoe UI;
    color: red;
}
nav{
    color: rgb(164, 249, 255);
}
li{
    color: rgb(164, 249, 255);
    font-family: Segoe UI;
}
dt{
    color: rgb(164, 249, 255);
    font-family: Segoe UI;
}
dd{
    color: rgb(164, 249, 255);
    font-family: Segoe UI;
}
a{
    color: rgb(164, 249, 255);
    font-family: Segoe UI;
}
